
/* Makes three columns */
.ms-item {
width: 30%;
border: 2px solid #333;
border-color: #E8E8E8;
border-radius: 5px;
height: auto;
padding: 1rem;
margin: 1rem;
text-decoration: none;
color: #A3A3A3;
}

div.ms-item
{
    display:block;
    position:relative;
}

.ms-item:hover  {
  background-color: #0A2B4E;
  color:#FDB827;
}



/* LINK STYLING */
.ms-item a {
  color: #0A2B4E;
  text-decoration: none;
}

.ms-item a:visited
{
  text-decoration: none;
}

.ms-item a:hover {
  text-decoration: none;
}

.ms-item a:active {
  text-decoration: none;
}

.post-title {
  color: #0A2B4E;
}
.post-text {
  color: #0A2B4E;
}
/* END STYLING */

#ms-container {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}



.blog h2 {
  margin-top: 2rem;
  padding-top: 2rem:
  text-transform: uppercase;
  color: #0A2B4E ;
  text-align: center;

}

a .read-more-button {
    color: #0A2B4E;
}

.blog hr {
  border-color:#fdc95a;
}

.container {
  width:90%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.read-more-button {
  border: 2px solid #0A2B4E;
  padding: 10px;
  border-radius: 25px;
}

.pagination-buttons {

  text-decoration: none;
  width:100px;
  height:100px;
}
.pagination-buttons a {
  color: white;
  text-decoration: none;
  background-color: #0A2B4E;
  padding: 15px;
}

.pagination-buttons a:hover {
  color: #0A2B4E;
  text-decoration: none;
  background-color: #FDB827;
}
.pagination-buttons a:active {
  color:  #0A2B4E;
  text-decoration: none;
  background-color: #FDB827;
}

.news-navigation {
  margin-left: 50%;
  margin-top: 2rem;
}
