
/* Makes three columns */
.ms-item {
width: 30%;
border: 2px solid #333;
border-color: #E8E8E8;
border-radius: 5px;
height: auto;
padding: 1rem;
margin: 1rem;
text-decoration: none;
color: #A3A3A3;
}

div.ms-item
{
    display:block;
    position:relative;
}

.ms-item:hover  {
  background-color: #0A2B4E;
  color:#FDB827;
}

.ms-item:hover .read-more-button {
  border: 2px solid white;
}

.ms-item:hover .post-text {
  color: white;
}

/* LINK STYLING */
.ms-item:hover .post-title a{
  color: white;
}

.ms-item .post-title a{
  color: #0A2B4E;
}
.ms-item a {
  color: #A3A3A3;
  text-decoration: none;
}

.ms-item:hover a {
  color: #FDB827;
}

.ms-item a:visited
{
  text-decoration: none;
}

.ms-item a:hover {
  text-decoration: none;
}

.ms-item a:active {
  text-decoration: none;
}

.post-title {
  color: #0A2B4E;
}
.post-text {
  color: #0A2B4E;
}
.post-link {
  color: #A3A3A3 !important;
}

.post-title-link a {
  color: ##0A2B4E;
}



.read-more-button {
  border: 2px solid #0A2B4E;
  padding: 10px;
  border-radius: 25px;
  color: #0A2B4E;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
a.read-more-button {
    color: #0A2B4E;
}

.ms-item:hover a.read-more-button {
  color: white;
}
/* END STYLING */

#ms-container {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}



.blog h2 {
  margin-top: 2rem;
  padding-top: 2rem:
  text-transform: uppercase;
  color: #0A2B4E ;
  text-align: center;

}


.blog hr {
  border-color:#fdc95a;
}

.container {
  width:90%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}


.pagination-buttons {

  text-decoration: none;
  width:100px;
  height:100px;
}
.pagination-buttons a {
  color: white;
  text-decoration: none;
  background-color: #0A2B4E;
  padding: 15px;
}

.pagination-buttons a:hover {
  color: #0A2B4E;
  text-decoration: none;
  background-color: #FDB827;
}
.pagination-buttons a:active {
  color:  #0A2B4E;
  text-decoration: none;
  background-color: #FDB827;
}

.news-navigation {
  margin-left: 50%;
  margin-top: 2rem;
}

video.news-video-thumbnail {
  width:300px;
}

.news-space {
  margin: 4%;
}


/* Slider Styling */
.news-slide {display: none}

/* Slideshow container */
.news-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.new-slider-prev, .new-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
